<h1>グラフ</h1>



<div class="txt">
	<p class="txt1"><%= link_to "月曜日", lessons_monday_path %></p>
	<p class="txt2"><%= link_to "火曜日", lessons_thuesday_path %></p>
	<p class="txt3"><%= link_to "水曜日", lessons_wednesday_path %></p>
	<p class="txt4"><%= link_to "木曜日", lessons_thursday_path %></p>
	<p class="txt5"><%= link_to "金曜日", lessons_friday_path %></p>
	<p class="txt6"><%= link_to "土曜日", lessons_saturday_path %></p>
</div>

<p class="space"></p>
