
<!-- <table class="">
  <tr class="table">
    <th>Id</th><th>授業名</th><th>詳細</th><th>教授名</th><th>単位</th><th>学年</th><th>学期</th><th>曜日</th><th>何限</th><th>欠席・遅刻回数</th>
  </tr>
  <% @lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.id %></td>
    <td><%= lesson.name %></td>
    <td><%= lesson.description %></td>
    <td><%= lesson.teacher_name %></td>
    <td><%= lesson.credit %></td>
    <td><%= lesson.grade %></td>
    <td><%= lesson.term %></td>
    <td><%= lesson.week %></td>
    <td><%= lesson.period %></td>
    <td><%= lesson.absence_count %></td>
    <td><%= link_to 'Show', lesson_path(lesson) %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
    <td><%= link_to 'Delete', lesson_path(lesson), method: :delete %></td>
  </tr>
  <% end %>
</table> -->


<h1>時間割</h1>

<%= link_to image_tag("icon14.png",:class => "haguruma"), destroy_user_session_path, method: :delete %>


<table class="table-s" border="1" cellspacing="0" cellpadding="0" bordercolor="#A4A4A4" align="right">
<tr>
<th bgcolor="#FFFFFF"><font color="#FFFFFF"></font></th>
<th bgcolor="#FFFFFF" width="50"><font color="#000000">月</font></th>
<th bgcolor="#FFFFFF" width="50"><font color="#000000">火</font></th>
<th bgcolor="#FFFFFF" width="50"><font color="#000000">水</font></th>
<th bgcolor="#FFFFFF" width="50"><font color="#000000">木</font></th>
<th bgcolor="#FFFFFF" width="50"><font color="#000000">金</font></th>
<th bgcolor="#FFFFFF" width="50"><font color="#000000">土</font></th>
</tr>
<% (0..4).each do |i| %>
  <tr>
    <% (0..6).each do |j| %>
      <% if j==0 then %>
        <td bgcolor="#FFFFFF" align="right" nowrap><%= i+1 %></td>
      <% else %>
        <% @at_lesson = @lessons.find_by(week: j-1, period: i) %>
        <% if @at_lesson then%>
          <% @at_lesson.absence_count.to_i%>
          <%if @at_lesson.absence_count<3 then%>
            <td bgcolor="#FFFFFF"　valign="top" width="75">
            <%= @at_lesson.name %>
            <%= link_to image_tag("clear1.png",{:border => '0',:class => "clears"}), controller: "lessons", action: "show", :id => @at_lesson.id %>
            </td>
          <% elsif (@at_lesson.absence_count>=3) && (@at_lesson.absence_count<4) then %>
            <td bgcolor="yellow" valign="top" width="75">
              <%= @at_lesson.name %>
            <%= link_to image_tag("clear1.png",{:border => '0',:class => "clears"}), controller: "lessons", action: "show", :id => @at_lesson.id %>
            </td>
          <% elsif @at_lesson.absence_count == 4%>
            <td bgcolor="red" valign="top" width="75">
              <%= @at_lesson.name %>
            <%= link_to image_tag("clear1.png",{:border => '0',:class => "clears"}), controller: "lessons", action: "show", :id => @at_lesson.id %>
            </td>
          <% end %>
        <% else %>
          <td bgcolor="#FFFFFF" valign="top" width="75">
          <%=  link_to image_tag('icon6.png', { :border => '0', :class => "plus"}), controller: "lessons", action: "new", params: {week: j-1, period: i}%>
          </td>
        <% end %>
      <% end %>
    <% end %>
  </tr>
<% end %>



</table> 

