<h1><%= @lesson.name %></h1>
<%= link_to image_tag("icon5.png",:class => "yazirushi"), lessons_path %>
<%= link_to image_tag("icon7.png",:id=>"trash"), lesson_path(@lesson.id), method: :delete %>

<%= link_to image_tag("icon9.png",:id => "edit_show"), {controller: "lessons", action: "edit", :id => @lesson.id }%>



<% @new_period = (@lesson.period+1).to_s %>
<% @new_week %>
<% @new_term %>
<% if @lesson.week ==0 then%>
  <% @new_week = "月曜日" %>
<% elsif @lesson.week ==1 then%>
  <% @new_week = "火曜日" %>
<% elsif @lesson.week ==2 then%>
  <% @new_week = "水曜日" %>
<% elsif @lesson.week ==3 then%>
  <% @new_week = "木曜日" %>
<% elsif @lesson.week ==4 then%>
  <% @new_week = "金曜日" %>
<% elsif @lesson.week == 5 then%>
  <% @new_week = "土曜日" %>
<% end %>
<% if @lesson.term==0 then%>
  <% @new_term = "前期" %>
<% else %>
  <% @new_term = "後期" %>
<% end %>

<table class="show-th">
  <tr>
    <th>授業名</th>
    <td><%= @lesson.name %></td>
  </tr>
  <tr>
    <th>授業詳細</th>
    <td><%= @lesson.description %></td>
  </tr>
  <tr>
    <th>教師名</th>
    <td><%= @lesson.teacher_name %></td>
  </tr>
  <tr>
    <th>単位数</th>
    <td><%= @lesson.credit %></td>
  </tr>
  <tr>
    <th>学年</th>
    <td><%= @lesson.grade %></td>
  </tr>
  <tr>
    <th>学期</th>
    <td><%= @new_term %></td>
  </tr>
  <tr>
    <th>曜日</th>
    <td><%= @new_week %></td>
  </tr>
  <tr>
    <th>何限</th>
    <td><%= @new_period+"限"%></td>
  </tr>
  <tr>
    <th>欠席数</th>
    <td ><%= @lesson.absence_count %></td>
  </tr>
  <!-- <tr>
    <th>メールアドレス</th>
    <td><%= @lesson.user.email %></td>
  </tr> -->
</table>


